div:has(> h1) {
  text-align: center;
}

h2 {
  margin-bottom: 2rem;
}

h2 span {
  color: var(--accent-color);
  font-size: 1.5em;
  font-weight: 900;
  display: block;
  margin-top: 0.5rem;
  text-shadow: 0 0 10px rgba(6, 182, 212, 0.5);
}